.btn {
    @apply font-semibold py-3 rounded-lg text-center tracking-wider border-2;
}

.btn:focus {
    @apply outline-none;
}

.btn:disabled {
    @apply opacity-50 cursor-not-allowed;
}


/* PRIMARY BUTTONS */

.btn-blue-primary {
    @apply bg-blue-700 border-blue-700 text-white;
}

.btn-blue-primary:hover {
    @apply bg-blue-800 border-blue-800 text-white;
}

.btn-red-primary {
    @apply bg-red-700 border-red-700 text-white;
}

.btn-red-primary:hover {
    @apply bg-red-800 border-red-800 text-white;
}

.btn-green-primary-500 {
    @apply bg-green-500 border-green-500 text-white;
}

.btn-green-primary-500:hover {
    @apply bg-green-600 border-green-600 text-white;
}

.btn-gray-primary {
    @apply bg-gray-600 border-gray-600 text-white;
}

.btn-gray-primary:hover {
    @apply bg-gray-700 border-gray-700 text-white;
}


/* SECONDARY BUTTONS */

.btn-blue-secondary {
    @apply text-blue-700 border-blue-700;
}

.btn-blue-secondary:hover {
    @apply bg-blue-800 border-blue-800 text-white;
}

.btn-red-secondary {
    @apply text-red-700 border-red-700;
}

.btn-red-secondary:hover {
    @apply bg-red-800 border-red-800 text-white;
}


/* TERTIARY BUTTONS */

.btn-tertiary {
    @apply font-semibold text-gray-600 tracking-wider
}

.btn-tertiary:hover {
    @apply text-gray-700
}

.btn-tertiary:focus {
    @apply outline-none;
}

.btn-blue-tertiary {
    @apply font-semibold text-blue-700
}

.btn-blue-tertiary:hover {
    @apply text-blue-800
}

.btn-blue-tertiary:focus {
    @apply outline-none;
}


/* ICON BUTTONS */

.btn-icon-blue {
    @apply p-1 bg-gray-100 text-blue-700 rounded-lg border border-blue-700 opacity-75 text-xl
}

.btn-icon-blue:hover {
    @apply text-white bg-blue-700 border-blue-700
}

.btn-icon-blue:focus {
    @apply outline-none
}

.btn-icon-red {
    @apply p-1 bg-gray-100 text-red-400 rounded-lg border border-red-400 opacity-75
}

.btn-icon-red:hover {
    @apply text-white bg-red-700 border-red-700
}

.btn-icon-red:focus {
    @apply outline-none
}

.btn-icon-green {
    @apply p-1 bg-green-500 text-white rounded-lg border border-green-500 text-xl
}

.btn-icon-green:hover {
    @apply text-white bg-green-600 border-green-600
}

.btn-icon-green:focus {
    @apply outline-none
}




/*
    ReDesign, todo: remove tmp-suffix
*/


/* PRIMARY BUTTONS */

/* e.g. accept, login, etc. */
.btn-tmp {
    @apply btn-primary-base-tmp bg-blue-600 border-blue-600
    hover:bg-blue-700 hover:border-blue-700
}

.btn-tmp:disabled {
    @apply hover:bg-blue-600 hover:border-blue-600
}

/* when adding/creating is the primary action on the page */
.btn-add-tmp {
    @apply btn-primary-base-tmp bg-green-600 border-green-600
    hover:bg-green-700 hover:border-green-700
}

.btn-add-tmp:disabled {
    @apply hover:bg-green-600 hover:border-green-600
}

/* when removing/deleting is the primary action on the page */
.btn-remove-tmp {
    @apply btn-primary-base-tmp bg-red-600 border-red-600 hover:bg-red-700 hover:border-red-700
}

.btn-remove-tmp:disabled {
    @apply hover:bg-red-600 hover:border-red-600
}

/* SECONDARY BUTTONS */

/* e.g. cancel button next to a primary action button */
.btn-secondary-tmp {
    @apply btn-secondary-base-tmp text-blue-600 border-blue-600
    hover:bg-blue-600 hover:text-white
}

.btn-secondary-tmp:disabled {
    @apply bg-transparent text-blue-600
}

/* when adding is the secondary action on the page */
.btn-secondary-add-tmp {
    @apply btn-secondary-base-tmp text-green-600 border-green-600
    hover:bg-green-600 hover:text-white
}

.btn-secondary-add-tmp:disabled {
    @apply bg-transparent text-green-600
}

/* when removing is the secondary action on the page */
.btn-secondary-remove-tmp {
    @apply btn-secondary-base-tmp text-red-600 border-red-600
    hover:bg-red-600 hover:text-white
}

.btn-secondary-remove-tmp:disabled {
    @apply bg-transparent text-red-600
}


/* TERTIARY BUTTONS */

/* e.g. cancel button next to a primary action button */
.btn-tertiary-tmp {
    @apply btn-tertiary-base-tmp text-blue-600 hover:text-blue-700
}

.btn-tertiary-tmp:disabled {
    @apply hover:text-blue-600
}

/* when adding is the secondary action on the page */
.btn-tertiary-add-tmp {
    @apply btn-tertiary-base-tmp text-green-600 hover:text-green-700
}

.btn-tertiary-add-tmp:disabled {
    @apply hover:text-green-600
}

/* when removing is the secondary action on the page */
.btn-tertiary-remove-tmp {
    @apply btn-tertiary-base-tmp text-red-600 hover:text-red-700
}

.btn-tertiary-remove-tmp:disabled {
    @apply hover:text-red-600
}

.btn-tertiary-base-tmp {
    @apply btn-base-tmp border-0 p-0 !important;
}

.btn-secondary-base-tmp {
    @apply btn-base-tmp
}

.btn-primary-base-tmp {
    @apply btn-base-tmp text-white
}

.btn-base-tmp {
    @apply p-1.5 border-2 rounded-md leading-5 font-medium text-sm focus:outline-none tracking-wide
    transition duration-150 ease-in-out
    disabled:opacity-50 disabled:cursor-not-allowed
}