.navbar-menu {
    @apply py-1 px-3 block font-bold text-sm text-gray-200;
}

.mobile-navbar-menu {
    @apply py-1 px-3 block font-bold text-sm text-gray-200;
}


/*
    ReDesign
*/

.navigation-link-tmp {
    @apply cursor-pointer font-medium text-blue-700 transition ease-in-out duration-150
    hover:text-blue-800
    focus:outline-none focus:underline
    dark:text-blue-600
}
